#map {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0
}

.labelCSS {
    color: #050505;
    background: rgba(248, 247, 247, 1);
	font: 12px Verdana;
}
.leaflet-tooltip-left.labelCSS::before {
    border-left-color: transparent;
}
.leaflet-tooltip-right.labelCSS::before {
	border-right-color: transparent;
}

.audPlayer {
	padding: 6px 8px;
	font: 14px Verdana;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.audPlayer h4 {
	margin: 0 0 5px;
	color: rgb(206, 204, 204);
}

.busText {
	padding: 6px 8px;
	font: 14px Verdana;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.busText h4 {
	margin: 0 0 5px;
	color: rgb(206, 204, 204);
}

.tooltipCSS {
	color: rgba(36, 35, 35, 0.8);
	background:#f7f2f2;
	font: 14px Verdana;
}

.leaflet-heatmap-layer {
	opacity: 0.5
}